.AdminMarketcard{
    width: 300px;
    height: 550px;
    background-color: #fff;
    /* border: 1px solid #ccc; */
    padding: 20px;
  }

  .marketplaceimg{
    max-width: 100%;
    height: 200px;
    margin-bottom: 10px;
  }
  .DashboardprofilephotoMarket {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
  }
  h5 {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
  }
  .user-details {
    display: inline-block;
    max-width: 100px; /* adjust the width based on your layout */
    /* text-align: left; */
  }
  .phone-number {
    display: inline-block;
    /* text-align: right; */
  }
  .AdminMarketPlaceInventory{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 20px;
    row-gap: 15px;
  }

  @media screen and (max-width:600px) {
    .AdminMarketPlaceInventory{
      display: list-item;
    }
    .AdminMarketcard{
      margin: auto;
      text-align: center;
    }
    
  }

  