.Feedpagecontainer {
  display: grid;
  grid-template-columns: 70% 30%;
  grid-gap: 20px;
  /* height: 100vh; */
}
@media screen and (max-width: 600px) {
  .Feedpagecontainer {
    display: grid;
    grid-template-columns: 1fr 0fr;
    grid-gap: 20px;
  }
  
  .Feedpagecontainer > *:first-child {
    grid-column: 1 / span 2;
  }
}


