.FewMarketPlaceInventory{
    display: list-item;
    margin-bottom: 20px;
    max-width: 300px;
    padding: 16px 12px;
}  
.FewMarketcard{
    width: 300px;
    height: 450px;
    background-color: #fff;
    /* border: 1px solid #ccc; */
    padding: 20px;
  }

  .marketplaceimg{
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  .DashboardprofilephotoMarket {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
  }
  h5 {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
  }
  .user-details {
    display: inline-block;
    max-width: 100px; /* adjust the width based on your layout */
    /* text-align: left; */
  }
  .phone-number {
    display: inline-block;
    /* text-align: right; */
  }

  @media screen and (max-width:600px){
    .FewMarketPlaceInventory{
      margin: auto;
    }
    
  }