.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .form-container {
    width: 30%;
    /* padding: 20px; */
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-control-lg {
    font-size: 16px;
    padding: 10px;
  }
  
  .form-control-file {
    padding-top: 10px;
  }
  
  .btn-block {
    display: block;
    width: 100%;
  }
  
  .products-container {
    width: 70%;
    /* padding: 20px; */
  }
.marketplaceform{
    padding-left: 20px;
}