.oauth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Centering button vertically */
  }
  
  .google-btn {
    background-color: #4285F4;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  
  .google-logo {
    width: 20px;
    margin-right: 10px;
  }
  