#wrapper {
    position: relative;
    max-width: 400px;
    margin: auto;
    display: flex;
    overflow-x: auto;
  }
  
  #wrapper::-webkit-scrollbar {
    width: 0;
  }
  
  #wrapper #item {
    min-width: 110px;
    text-align: center;
    margin-right: 2px;
    text-align: center;
    height: 150px;
  }
  
